<h1><%= t("inquiries") %></h1>
<h4><%= t("contact_us.list_of_inquiries_submitted", :email => Spree::Config[:contact_form_to]) %></h4>

<table class="admin-report" width="545">
	<thead>
		<tr>
      		<th><%= t("name") %></th>
      		<th><%= t("email") %></th>
      		<th><%= t("type") %></th>
					<th><%= t("order_number") %></th>
					<th><%= t("contact_us.message") %></th>
					<th></th>
    	</tr>
  	</thead>
	
	<tbody>
    	<% @inquiries.each do |inquiry| %>
		<tr class="<%= cycle('even', 'odd') %>">
			<td>
				<%= inquiry.name %>
			</td>
			<td>
				<%= inquiry.email %>
			</td>
			<td>
				<%= inquiry.inquiry_type %>
			</td>
			<td>
				<%= inquiry.order_no %>
			</td>
			<td>
				<%=h truncate(inquiry.message, 100) %>
			</td>
			<td>
				<%= link_to t("show"), object_url(inquiry) %> | 
	      <%=link_to t("delete"), object_url(inquiry), :method => :delete %>
	     </td>
		</tr>
		<% end %>
	</tbody>
</table>

